{% extends 'base.html.twig' %}

{% block title %}Groups index{% endblock %}

{% block body %}
    <h1>Groups index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>
                    <a class="btn" href="{{ path('groups_edit', {'id': group.id}) }}">edit</a>
                    {{ include('groups/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groups_new') }}">Create new</a>
{% endblock %}
