{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}
    <h1>Tasks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timer</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.timer|date('H:i:s', '+00:00 GMT') }} </td>
                <td>{{ task.dateStart ? task.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.dateEnd ? task.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td><a href="{{ path('task_show', {'id': task.id}) }}">{{ task.name }}</a></td>
                <td>
                    <a class="btn" href="{{ path('tasks_edit', {'id': task.id}) }}">edit</a>
                    {{ include('tasks/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tasks_new') }}">Create new</a>
{% endblock %}
